.Form {
	text-align: center;
}
.demoForm {
	width: 500px;
	margin: auto;
}
.successMessage {
	size:12px;
	color: #60bf60;
}
.errorMessage {
	size:12px;
	color: #bf1507;
}
.categoryLabel {
	margin-right: 10px;
}
